$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';


$orange: lighten(#F95D00, 15%);
$green: darken(#88E2BC, 20%);
$pink: #DF1E65;

body {
  font-size: 16px;
  line-height: 1.5em;
  color: darken($pink, 35%);
  font-family: 'Oxygen', sans-serif;
  margin-top: 1em;
  background-image: radial-gradient(circle, white 0%, lighten($orange, 30%) 95%);
  background-color: lighten($orange, 30%);
}



h1, h2, h3, h4, h5, h6 {
  color: $pink;
  font-family: 'Chelsea Market', cursive;
}

h1 {
  font-size: 3em;
  line-height: 0.9em;
}

h2 {
  font-size: 2.4em;
  line-height: 0.9em;
  color: $green;
}

h3 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-bottom: 3px dashed $pink;
}

.content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.panel,
.panel-heading,
.panel-body {
  &.-classes {
    background-color: transparent;
    // Bootstrap uses a very specific selector here
    border-color: lighten($pink, 35%) !important;
  }
}

.panel-heading {
  padding: 7px 12px;
}

.panel-body {
  &.-classes {
    font-size: 14px;
    line-height: 1.5em;
  }
}

.panel-title {
  &.-classes {
    color: $pink;
    font-size: 13px;
  }
  &:before {
    content: "⦿ ";
  }
  &.-open:before {
    content: "⊝ ";
  }
}

.small-logo {
  float: left;
  width: 125px;
  height: 131px;
  margin: 0 10px 0px 0;
  max-width: none;
  display: none;
  border: 2px dashed $pink;
  padding: 13px;
  border-radius: 10px;
}

.big-logo {
  float: right;
  width: 310px;
  height: 325px;
  max-width: none;
}

.sun { color:$orange; }


.contact-number,
.contact-email {
  color: darken($green, 10%);
  font-family: 'Chelsea Market', cursive;
}

.contact-details {
  font-size: 1.2em;
}

a {
  color: #F95D00;
  &:hover {
    color: darken(#F95D00, 20%);
  }
}

small {
  font-size: 0.7em;
}

.unicode {
  font-family: sans-serif;
}

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.9em;
    line-height: 1em;
  }

  h2 {
    font-size: 1.4em;
    line-height: 0.9em;
    color: $green;
  }

  h3 {
    font-size:1.4em;
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-bottom: 3px solid $pink;
  }

}

